---
import { ChevronRight } from '@lucide/astro';
import Layout from '../../layouts/layout.astro';
import { products } from '../../lib/products';
import CtaEnd from '../../sections/cta-end.astro';
import ProductCollection from '../../sections/product-collection.astro';
import HandleOptions from '../../sections/handle-options.astro';
import Faq from '../../sections/faq.astro';
import ProductIntroduction from '../../sections/product-introduction.astro';
import WhyChooseUs from '../../sections/why-choose-us.astro';
import ProductBriefOverview from '../../sections/product-brief-overview.astro';
import PopularTypology from '../../sections/popular-typology.astro';
import FloatingContact from '../../components/floating-contact.astro';
import ContactUsForm from '../../components/contact-us-form.astro';
import ProductRange from '../../sections/product-range.astro';

export async function getStaticPaths() {
  return products.map((product) => ({
    params: { slug: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;
---

<Layout
  title={product.name}
  description={`Totalis By Hindalco - ${product.name} - ${product.description}`}
>
  <div
    class="h-12 border-neutral-200 sticky top-16 bg-white z-20 flex items-center justify-center"
  >
    <div
      class="w-full text-neutral-500 flex items-center px-4 max-w-6xl text-xs font-light"
    >
      <span class="font-medium flex items-center gap-1 text-neutral-700">
        <span>Home</span>
      </span>
      <ChevronRight class="size-4 mx-0.5" />
      <span>Product</span>
      <ChevronRight class="size-4 mx-0.5" />
      <span class="capitalize">{product.category} windows</span>
      <ChevronRight class="size-4 mx-0.5" />
      <span class="text-secondary font-normal">{product.name}</span>
    </div>
  </div>

  <ProductIntroduction product={product} />
  <ProductBriefOverview product={product} />
  <PopularTypology product={product} />
  <!-- <HandleOptions product={product} / -->
  <Faq product={product} />
  <!-- <ProductCollection /> -->
  <ProductRange />
  <!-- <WhyChooseUs /> -->
  <FloatingContact />

  <CtaEnd />

  <script>
    import { initExpandingCards } from '../../scripts/expanding-cards';
    import { initCardGlowEffect } from '../../scripts/glow';
    import { initRevealObserver } from '../../scripts/reveal';
    import { initTabManager } from '../../scripts/tab';
    import { initImageBox } from '../../scripts/image-box';
    import { initEmblas } from '../../scripts/embla';

    document.addEventListener('DOMContentLoaded', () => {
      initImageBox();
      initRevealObserver();
      initCardGlowEffect();
      initExpandingCards();
      initTabManager();
      initEmblas();
    });
  </script>
</Layout>
