---
import { Building2, Mail, MapPin } from '@lucide/astro';
import Button from '../components/button.astro';
import { stores } from '../data/stores';
import Layout from '../layouts/layout.astro';
---

<Layout
  title="Totalis - Locate Us"
  htmlClassName="no-js"
  description="Totalis by Hindalco - Locate your nearest Distributor."
>
  <div class="max-w-6xl mx-auto px-4 lg:py-16 py-12">
    <div class="flex justify-center mb-2">
      <h1 class="text-4xl text-neutral-800 font-semibold tracking-tight">
        Locate us
      </h1>
    </div>
    <div class="px-8 py-4 w-fit mx-auto rounded-2xl">
      <div class="flex gap-2 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="url(#grad2)"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-map-pinned-icon lucide-map-pinned"
        >
          <defs>
            <linearGradient id="grad2" x1="0" y1="0" x2="1" y2="1">
              <stop offset="0%" stop-color="rgb(160, 220, 120)"></stop>
              <stop offset="100%" stop-color="rgba(97, 182, 54, 1)"></stop>
            </linearGradient>
          </defs>
          <path
            d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0"
          ></path><circle cx="12" cy="8" r="2"></circle><path
            d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712"
          ></path></svg
        >
        <h2
          class="text-2xl font-medium text-transparent bg-clip-text bg-gradient-to-br from-primary to-primary-dark"
        >
          Find Your Nearest Distributor
        </h2>
      </div>
      <div id="filter-form" class="flex flex-wrap gap-4 mt-4">
        <div class="flex flex-col">
          <label for="state" class="text-xs mb-2">Select State</label>
          <select
            id="select-state-dropdown"
            class="border border-neutral-200 px-6 py-2 rounded-lg text-neutral-600"
          >
            <option value="">Select one</option>
            {
              [...new Set(stores.map((store) => store.state))].map((state) => {
                return <option value={state}>{state}</option>;
              })
            }
          </select>
        </div>

        <div class="flex flex-col">
          <label for="city" class="text-xs mb-2">Select City</label>
          <select
            id="select-city-dropdown"
            class="border border-neutral-200 px-6 py-2 rounded-lg text-neutral-600"
          >
            <option value="">Select one</option>
          </select>
        </div>
      </div>
    </div>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 my-8">
      {
        stores.map((store) => {
          return (
            <div
              class="p-6 group flex flex-col rounded-2xl border border-neutral-200 shadow hover:shadow-lg transition-all duration-300 text-neutral-800"
              data-city={store.city}
              data-state={store.state}
            >
              <div class="flex justify-between items-start mb-4 gap-2">
                <div>
                  <h3 class="text-xl font-semibold text-neutral-900">
                    {store.storeName}
                  </h3>
                  <div class="w-6 h-0.5 bg-primary mt-1 transition-all duration-300 group-hover:w-full" />
                </div>
                <div class="p-2 bg-secondary/10 rounded-xl border border-secondary/20">
                  <Building2 class="size-5 stroke-[1.5] stroke-secondary" />
                </div>
              </div>
              <div class="grow">
                <div class="flex items-start gap-3 mb-3">
                  <div class="p-2 bg-secondary/10 rounded-xl border border-secondary/20">
                    <MapPin class="size-5 stroke-[1.5] stroke-secondary" />
                  </div>
                  <div>
                    <p class="text-sm text-neutral-500">Location</p>
                    <p class="font-medium text-base text-neutral-800">
                      {store.city}, {store.state}
                    </p>
                    <p class="text-sm text-neutral-700">{store.address}</p>
                  </div>
                </div>

                <div class="flex items-center gap-3 mb-6">
                  <div class="p-2 bg-primary-dark/10 rounded-xl border border-primary/20">
                    <Mail class="size-5 stroke-[1.5] stroke-primary-dark" />
                  </div>
                  <a
                    href={`mailto:${store.email}`}
                    class="text-sm text-primary-dark"
                  >
                    {store.email}
                  </a>
                </div>
              </div>
              <Button
                link="/contact"
                variant="primary"
                classList="transition-smooth"
              >
                Reach Out
              </Button>
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>

<script>
  import { stores } from '../data/stores';

  const initLocateUs = () => {
    const stateSelect = document.getElementById(
      'select-state-dropdown'
    ) as HTMLSelectElement;
    const citySelect = document.getElementById(
      'select-city-dropdown'
    ) as HTMLSelectElement;
    const storeCards = document.querySelectorAll(
      '[data-state][data-city]'
    ) as NodeListOf<HTMLElement>;

    const showRelevantStores = () => {
      const selectedState = stateSelect.value;
      const selectedCity = citySelect.value;

      storeCards.forEach((card: HTMLElement) => {
        const cardState = card.dataset.state;
        const cardCity = card.dataset.city;

        if (!selectedState) {
          card.classList.remove('hidden');
        } else if (
          selectedState &&
          !selectedCity &&
          cardState === selectedState
        ) {
          card.classList.remove('hidden');
        } else if (
          selectedState &&
          selectedCity &&
          cardState === selectedState &&
          cardCity === selectedCity
        ) {
          card.classList.remove('hidden');
        } else {
          card.classList.add('hidden');
        }
      });
    };

    const populateCityOptions = (state: string) => {
      const cities = [
        ...new Set(
          stores
            .filter((store) => store.state === state)
            .map((store) => store.city)
        ),
      ];

      citySelect.innerHTML = '<option value="">Select one</option>';
      cities.forEach((city) => {
        const option = document.createElement('option');
        option.value = city;
        option.textContent = city;
        citySelect.appendChild(option);
      });
    };

    stateSelect.addEventListener('change', () => {
      const selectedState = stateSelect.value;

      citySelect.value = '';
      populateCityOptions(selectedState);
      showRelevantStores();
    });

    citySelect.addEventListener('change', () => {
      showRelevantStores();
    });
  };
  document.addEventListener('DOMContentLoaded', () => {
    initLocateUs();
  });
</script>
