---
import Layout from '../layouts/layout.astro';
import ContactUsForm from '../components/contact-us-form.astro';
import Button from '../components/button.astro';
import { getImage } from 'astro:assets';
import { cx } from '../scripts/cx';

import {
  Clock,
  Lock,
  Shield,
  ThermometerSnowflake,
  TrendingUp,
  Zap,
  UsersRound,
} from '@lucide/astro';

import px1 from '../assets/px1.jpg';
import px2 from '../assets/px2.jpg';
import px3 from '../assets/px3.jpg';

const product = {
  name: 'TOT SD NEXGEN',
  slug: 'nexgen',
  description:
    'Tested windows built for enhanced sturdiness—an ideal choice for every home.',
  price: 17999,
  images: [px1, px2, px3],
  features: [
    {
      icon: Lock,
      title: 'Central Multi-Point Locking',
      text: 'Ensures maximum safety',
    },
    {
      icon: Shield,
      title: 'Reinforced Handles',
      text: 'Provides maximum sturdiness',
    },
    {
      icon: ThermometerSnowflake,
      title: 'BIS Tested',
      text: 'Against all weather conditions',
    },
  ],
  stats: [
    { label: 'Projects Completed', value: '100+', icon: TrendingUp },
    { label: 'Happy Customers', value: '80+', icon: UsersRound },
    { label: 'Years of Experience', value: '5+', icon: Clock },
    { label: 'Quick Installation', value: '1–2 Days', icon: Zap },
  ],
};

const images = await Promise.all(
  product.images.map((i) =>
    getImage({
      src: i,
      widths: [512, 768, 960],
      format: 'webp',
    })
  )
);

const thumbs = await Promise.all(
  product.images.map((i) =>
    getImage({ src: i, widths: [96, 128], format: 'webp' })
  )
);

const productData = { ...product, thumbs, images };
---

<Layout title="Test Page" htmlClassName="no-js">
  <ContactUsForm />

  <button class="contact-form-trigger p-2 border border-neutral-200 shadow">
    Show Form
  </button>

  <section id="product-introduction">
    <div class="max-w-6xl mt-8 mx-auto px-4 grid md:grid-cols-2 gap-16">
      <div class="space-y-8">
        <div
          class="aspect-square w-full max-w-lg mx-auto rounded-2xl overflow-hidden border border-gray-200 shadow-md relative"
        >
          <div class="aspect-square">
            <img
              id="main-image"
              src={productData.images[0].src}
              srcset={productData.images[0].srcSet.values
                .map((v) => `${v.url} ${v.descriptor}`)
                .join(', ')}
              alt={`${productData.name} Image`}
              sizes="(max-width: 768px) 99vw, 50vw"
              loading="eager"
              class="w-full h-full object-cover transition-opacity duration-300"
            />
          </div>

          <div
            class="absolute top-4 left-4 bg-primary inset-shadow-sm inset-primary-light text-white text-sm px-2 py-0.5 rounded-md"
          >
            BIS Certified
          </div>
        </div>

        <div
          class="flex gap-4 justify-center"
          role="group"
          aria-label="Product images"
        >
          {
            productData.thumbs.map((img, i: number) => (
              <button
                class={cx(
                  'thumbnail-btn aspect-square w-16 rounded-lg overflow-hidden transition-all duration-300',
                  'hover:brightness-75 ring-2 ring-offset-2 cursor-pointer',
                  i === 0 ? 'ring-primary' : 'ring-transparent'
                )}
                data-src={productData.images[i].src}
                data-srcset={productData.images[i].srcSet.values
                  .map((v) => `${v.url} ${v.descriptor}`)
                  .join(', ')}
                data-alt={`${productData.name} view ${i + 1}`}
                data-index={i}
                aria-label={`View ${i + 1} of ${productData.name}`}
                aria-selected={i === 0 ? 'true' : 'false'}
              >
                <img
                  src={img.src}
                  srcset={img.srcSet.values
                    .map((v) => `${v.url} ${v.descriptor}`)
                    .join(', ')}
                  sizes="(max-width: 768px) 96px, 128px"
                  loading="lazy"
                  decoding="async"
                  class="w-full h-full object-cover"
                  alt=""
                />
              </button>
            ))
          }
        </div>
      </div>
    </div>
  </section>

  <script>
    import { initEmblas } from '../scripts/embla';
    import { initRevealObserver } from '../scripts/reveal';
    import { initTabManager } from '../scripts/tab';
    import { initExpandingCards } from '../scripts/expanding-cards';
    import { initContactFormTriggers } from '../scripts/contact-form';

    const initImageBox = () => {
      const mainImg = document.getElementById('main-image') as HTMLImageElement;
      const thumbs = [
        ...document.querySelectorAll('.thumbnail-btn'),
      ] as HTMLButtonElement[];

      const updateActiveStates = (activeIndex: number) => {
        thumbs.forEach((btn, index) => {
          if (index === activeIndex) {
            btn.classList.add('ring-primary');
            btn.classList.remove('ring-transparent');
            btn.setAttribute('aria-selected', 'true');
          } else {
            btn.classList.add('ring-transparent');
            btn.classList.remove('ring-primary');
            btn.setAttribute('aria-selected', 'false');
          }
        });
      };

      thumbs.forEach((btn, index) => {
        btn.addEventListener('click', () => {
          mainImg.src = btn.dataset.src!;
          mainImg.srcset = btn.dataset.srcset!;
          mainImg.alt = btn.dataset.alt!;
          updateActiveStates(index);
        });
      });
    };

    document.addEventListener('DOMContentLoaded', () => {
      initTabManager();
      initImageBox();
      initEmblas();
      initExpandingCards();
      initRevealObserver();
      initContactFormTriggers();
    });
  </script>
</Layout>
