---
const {
  title,
  onClick,
  startIcon,
  endIcon,
  variant,
  reveal,
  animationDelay,
  classList,
} = Astro.props;

let className;
if (variant === 'primary') {
  className =
    'bg-primary hover:bg-primary-light hover:scale-95 outline-2 outline-transparent outline-offset-4 hover:outline-primary duration-300 transition-all cursor-pointer text-white py-2 px-4 rounded-xl';
} else if (variant === 'secondary') {
  className =
    'bg-transparent border border-green-500 hover:bg-green-600 hover:text-white text-green-500 py-2 px-4 rounded-xl';
} else {
  className =
    'bg-gray-200 hover:bg-gray-300 text-gray-800 py-2 px-4 rounded-xl';
}

if (reveal) {
  className += ' reveal inline-block whitespace-nowrap';
}

if (classList) {
  className += ` ${classList}`;
}
---

<button onclick={onClick} class={className} data-delay={animationDelay}>
  {startIcon && <span>{startIcon}</span>}
  <span>{title}</span>
  {endIcon && <span>{endIcon}</span>}
</button>
