---
const { title, onClick, variant, reveal, animationDelay, classList } =
  Astro.props;

let className =
  'inline-flex items-center justify-center gap-2 cursor-pointer py-2 px-4 rounded-xl';

className += ' ';

if (variant === 'primary') {
  className +=
    'bg-primary hover:bg-primary-light hover:scale-95 outline-2 outline-transparent outline-offset-4 hover:outline-primary text-white ';
} else if (variant === 'secondary') {
  className +=
    'bg-transparent border border-green-500 hover:bg-green-600 hover:text-white text-green-500';
} else {
  className += 'bg-gray-200 hover:bg-gray-300 text-gray-800';
}

if (reveal) {
  className += ' reveal inline-block whitespace-nowrap';
}

if (classList) {
  className += ` ${classList}`;
}
---

<button onclick={onClick} class={className} data-delay={animationDelay}>
  <slot name="startIcon" />
  <span>{title}</span>
  <slot name="endIcon" />
</button>
