---
import { CircleArrowLeft, CircleArrowRight } from '@lucide/astro';
import { Image } from 'astro:assets';
import demoImage from '../assets/building.jpeg';
import demoBrand from '../assets/hindalco-logo.svg';
import demoBuilding from '../assets/hotel-building.jpg';
import demoBuilding1 from '../assets/building-placeholder.jpg';

const properties = [
  { id: 1, name: 'Supreme, Pune', area: '88544 Sqft.', image: demoBuilding1 },
  {
    id: 2,
    name: 'Shalimar Mannat, Lucknow',
    area: '88544 Sqft.',
    image: demoBuilding,
  },
  { id: 3, name: 'Eldeco Luxa', area: '30000 Sqft.', image: demoImage },
  {
    id: 4,
    name: 'Natura by One Oak, Lucknow',
    area: '75114 Sqft.',
    image: demoImage,
  },
  {
    id: 5,
    name: 'Supreme Elite, Mumbai',
    area: '95000 Sqft.',
    image: demoImage,
  },
  {
    id: 6,
    name: 'Shalimar Heights, Delhi',
    area: '72000 Sqft.',
    image: demoImage,
  },
];

const brands = [demoBrand, demoBrand, demoBrand];
---

<section id="projects" class="w-full">
  <div class="bg-secondary md:py-24 py-16 z-0">
    <div class="md:px-4 max-w-6xl mx-auto embla">
      <div class="flex px-4 items-center justify-between mb-12">
        <h2 class="lg:text-4xl text-3xl font-bold text-white">
          Shaping Skylines with excellence
        </h2>
        <div class="items-center gap-2 hidden md:flex">
          <button
            class="embla-prev text-white hover:text-secondary-light disabled:cursor-not-allowed transition-colors disabled:text-white/50 cursor-pointer"
            aria-label="Previous slide"
          >
            <CircleArrowLeft class="size-10 stroke-[1.5]" />
          </button>
          <button
            class="embla-next text-white hover:text-secondary-light disabled:cursor-not-allowed transition-colors disabled:text-white/50 cursor-pointer"
            aria-label="Next slide"
          >
            <CircleArrowRight class="size-10 stroke-[1.5]" />
          </button>
        </div>
      </div>

      <div class="embla-viewport">
        <div class="embla-container">
          {
            properties.map((property) => (
              <div class="embla-slide reveal w-64 first-of-type:md:pl-4 md:pl-6 pl-4 last-of-type:pr-4">
                <div class="aspect-[8/9] overflow-hidden rounded-xl bg-radial from-indigo-500 to-indigo-600">
                  <Image
                    src={property.image}
                    alt={property.name}
                    loading="lazy"
                    decoding="async"
                    layout="full-width"
                    format="webp"
                    class="h-full w-full object-cover hover:scale-105 transition-transform duration-400"
                  />
                </div>
                <div class="p-2">
                  <h3 class="text-md font-semibold text-white">
                    {property.name}
                  </h3>
                  <p class="text-gray-100 font-medium text-sm">
                    {property.area}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>

  <div class="h-28 z-10 flex items-center relative">
    <span
      class="absolute z-20 top-0 rounded-full backdrop-blur-sm bg-white px-8 py-2 -translate-y-6 -translate-x-1/2 left-1/2 text-center text-secondary text-md lg:text-lg font-light shadow-sm drop-shadow-xs text-nowrap"
    >
      Our Trusted Project
    </span>
    <div class="marquee-container relative w-full pt-4">
      <div class="marquee-content flex">
        {
          brands.map((brand) => (
            <Image
              src={brand}
              alt="Brand logo"
              class="h-12 w-auto opacity-60 hover:opacity-100 transition-opacity duration-300 flex-shrink-0 mx-8"
            />
          ))
        }
      </div>
      <div class="marquee-content flex" aria-hidden="true">
        {
          brands.map((brand) => (
            <Image
              src={brand}
              alt="Brand logo"
              class="h-12 w-auto opacity-60 hover:opacity-100 transition-opacity duration-300 flex-shrink-0 mx-8"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
